<div class="col">
    <h1 class="titulo">
        <img src="https://images.fineartamerica.com/images/artworkimages/medium/3/imagine-dragons-triangle-logo-black-rayyay-emmir-transparent.png" alt="Logo"
            style="height: 100px;">
        Imagine Dragons
    </h1>
    <p>
    <div style="text-align: justify;" class="fs-6 text-light">
        Imagine Dragons es una banda estadounidense de pop rock originaria de Las Vegas, Nevada. 
        Está compuesta por Dan Reynolds (vocalista), Wayne Sermon (guitarrista), Ben McKee (bajista) y Daniel Platzman (baterista). 
        Ganó el reconocimiento mundial con el lanzamiento de su álbum de estudio debut Night Visions (2012), y con su canción "It's Time". 
        Billboard los colocó en la cima de su lista de popularidad del 2013 "Year In Rock", y los llamó «la banda revelación del 2013».
    </div>

    <div class="image-container">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/531/861/desktop-wallpaper-imagine-dragons-pinterest-ph-imagine-dragons-logo.jpg" alt="Imagine Dragons Logo" style="height: 300px;">
    </div>
</div>

