<div id="songCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <!-- First item -->
      <div class="carousel-item active">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/7wtfhZwyrcc/0.jpg" class="d-block" alt="Believer" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=7wtfhZwyrcc" target="_blank">
            <button type="button" class="btn btn-outline-info">Believer</button>
          </a>
        </div>
      </div>
  
      <!-- Second item -->
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/TO-_3tck2tg/0.jpg" class="d-block" alt="Bones" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=TO-_3tck2tg" target="_blank">
            <button type="button" class="btn btn-outline-info">Bones</button>
          </a>
        </div>
      </div>
      
      <!-- Third item -->
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/mWRsgZuwf_8/0.jpg" class="d-block" alt="Demons" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=mWRsgZuwf_8" target="_blank">
            <button type="button" class="btn btn-outline-info">Demons</button>
          </a>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/ktvTqknDobU/0.jpg" class="d-block" alt="Radioactive" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=ktvTqknDobU" target="_blank">
            <button type="button" class="btn btn-outline-info">Radioactive</button>
          </a>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/fKopy74weus/0.jpg" class="d-block" alt="Thunder" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=fKopy74weus" target="_blank">
            <button type="button" class="btn btn-outline-info">Thunder</button>
          </a>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/V5M2WZiAy6k/0.jpg" class="d-block" alt="Natural" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=V5M2WZiAy6k" target="_blank">
            <button type="button" class="btn btn-outline-info">Natural</button>
          </a>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/0HgJwrwEEKQ/0.jpg" class="d-block" alt="I'm So Sorry" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=0HgJwrwEEKQ" target="_blank">
            <button type="button" class="btn btn-outline-info">I'm So Sorry</button>
          </a>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="https://img.youtube.com/vi/D9G1VOjN_84/0.jpg" class="d-block" alt="Enemy" style="margin-bottom: 20px;">
          <a href="https://www.youtube.com/watch?v=D9G1VOjN_84" target="_blank">
            <button type="button" class="btn btn-outline-info">Enemy</button>
          </a>
        </div>
      </div>
      
  
  
    </div>
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#songCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#songCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  